.card label {
    margin-bottom: unset;
}

.form-group, .input-group {
    margin-bottom: unset;
}

.gap-2 {
    gap: 2px;
}

.gap-4 {
    gap: 4px;
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dropzone .dz-preview .dz-progress {
    top: unset;
    bottom: 25px;
}

.flex {
    display: flex;
}
